# Number Operation

In [1]:
1+2

3

In [2]:
2-3

-1

In [3]:
2*8

16

In [4]:
16%3

1

In [5]:
#2 to the power 3
2 ** 3

8

In [6]:
2+10*(10-2)

82

# Variables

In [9]:
a=10.22
type(a)

float

In [14]:
#Calculate income excluding taxes
my_taxrate=0.04
my_salary=18000
my_income=my_salary-(my_salary * my_taxrate)
print(my_income)

17280.0

# Working with strings

In [18]:
"hello from world's best coder"

"hello from world's best coder"

In [17]:
'hello universe'

'hello universe'

In [19]:
print("i do not want any string sign here just want the actual text")

i do not want any string sign here just want the actual text

In [22]:
print("i do not want any string sign here, \njust want the actual text")

i do not want any string sign here,
just want the actual text

In [23]:
print("i do not want any string sign here, \tjust want the actual text")

i do not want any string sign here, 	just want the actual text

In [25]:
len("I eat rice ")

11

In [26]:
len("Ieatrice")

8

#indexing and slicing

In [30]:
my_string=("The color of the sky is blue")
my_string[-4]

'b'

In [31]:
my_string=("The color of the sky is blue")
my_string[7]

'o'

In [35]:
# alp[starts:upto:stepsize]
alp=("abcdefghij")
alp[::]

'abcdefghij'

In [37]:
alp[3:]

'defghij'

In [38]:
alp[:3]

'abc'

In [39]:
alp[0:9:2]

'acegi'

In [42]:
#reverse string
alp[::-1]

'jihgfedcba'

In [62]:
#concate full name
first_name="Nahid Hassan "
last_name="Niloy"
full_name=first_name+last_name
print(full_name)

Nahid Hassan Niloy

In [63]:
first_name+'Robin'

'Nahid Hassan Robin'

In [64]:
letter='n'
letter*10

'nnnnnnnnnn'

In [68]:
#print nn14 using concatination
letter='n'
output=letter*2+'1'+'4'
print(output)

nn14

In [1]:
text="HELlo WorLD"
text.upper()

'HELLO WORLD'

In [2]:
text.lower()

'hello world'

In [3]:
my_string=("The color of the sky is blue")
my_string.split()

['The', 'color', 'of', 'the', 'sky', 'is', 'blue']

In [5]:
my_string.split('o')

['The c', 'l', 'r ', 'f the sky is blue']

# Print Format

In [38]:
#formatting the sentence
text1=('{3} {0} {2} {1}'.format('quick','fox','brown','the'))
#print(text1)
text2=(' {j} {o} the {l} {d}'.format(o='over',j='jumps',l='lazy',d='dog'))
#print(text2)
text= text1 +  text2
print(text)

the quick brown fox jumps over the lazy dog

#float formatting
{value:Width.precision f}
width describes mainly the whitespace(not mendatory)

In [40]:
#precised value of pi
pi=3.1415926535
print ("The value of pi: {p:.4f}".format(p=pi))

The value of pi: 3.1416

In [43]:
#fstring(shortcut method)
name="niloy"
print(f'my name is {name}')

my name is niloy

In [46]:
#introduce yourself using f string
first_name="Nahid Hassan "
last_name="Niloy"
full_name=first_name+last_name
uni="AIUB"
print(f'I am {full_name},I studied from {uni}')

I am Nahid Hassan Niloy,I studied from AIUB

In [73]:
#apple's price is $20
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
#print(The price of fruits[3] + price[1])
#product=fruits[3]
#cost=price[1]
#print(f'The price of {product} is {cost}')
print(f'The price of {fruits[3]} is {price[1]}')

The price of apple is 20

# List

In [1]:
values=[1,4,"Niloy",29]
print(values[2])

Niloy

In [110]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
len(fruits)

6

In [51]:
fruits[2:5]

['orange', 'apple', 'pineapple']

In [65]:
price=['10','20','30','40','50','60']
price[2]
fruits+price

['banana',
 'grape',
 'orange',
 'apple',
 'pineapple',
 'watermelon',
 '10',
 '20',
 '30',
 '40',
 '50',
 '60']

In [76]:
#insert element
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits[4]='date'
fruits

['banana', 'grape', 'orange', 'apple', 'date', 'watermelon']

In [9]:
#insert element to a particular index
info=["Nahid Hassan",26,2.98]
info.insert(1,"Niloy")
print(info)

['Nahid Hassan', 'Niloy', 26, 2.98]

In [77]:
#insert element to last
#append function
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.append('date')
print(fruits)

['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon', 'date']

In [79]:
#pop element from last
#pop function
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.pop()
print(fruits)

['banana', 'grape', 'orange', 'apple', 'pineapple']

In [14]:
#pop element from index
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.pop(2)
print(fruits)

['banana', 'grape', 'apple', 'pineapple', 'watermelon']

In [16]:
#delete element from index
fruits=['banana','grape','orange','apple','pineapple','watermelon']
del fruits[2]
print(fruits)

['banana', 'grape', 'apple', 'pineapple', 'watermelon']

In [82]:
#sort in alphabetical order
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.sort()
fruits

['apple', 'banana', 'grape', 'orange', 'pineapple', 'watermelon']

In [83]:
#reverse elements
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.reverse()
fruits

['watermelon', 'pineapple', 'apple', 'orange', 'grape', 'banana']

# Dictonary

Inside a dictionary there can be list ,integer, and even a dictionary

In [87]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['apple']

20

In [92]:
my_dic={'my_int':123,'my_list':[1,2,3,4],'new_dic':{'key':14}}
my_dic['new_dic']

{'key': 14}

In [21]:
my_dic={"num":1,2:"num",3:"Hello World"}
print(my_dic[2])
print(my_dic["num"])
print(my_dic[3])

num
1
Hello World

In [100]:
#upper() using a dictionary
fruits={'fruitsName': ['banana','grape','orange','apple','pineapple','watermelon']}
fruits['fruitsName'][4].upper()

'PINEAPPLE'

In [103]:
#add new dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['date']='80'
fruits

{'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60,
 'date': '80'}

In [104]:
#change value of a key in a dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['grpae']='45'
fruits

{'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60,
 'grpae': '45'}

In [108]:
#show keys,values and items
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.keys()

dict_keys(['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon'])

In [107]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.values()

dict_values([10, 40, 30, 20, 50, 60])

In [109]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.items()

dict_items([('banana', 10), ('grape', 40), ('orange', 30), ('apple', 20), ('pineapple', 50), ('watermelon', 60)])

In [24]:
#create dictionary at runtime
my_dic={}
my_dic["first name"]= "Nahid Hassan"
my_dic["last name"]= "Niloy"
print(my_dic)
print(my_dic["last name"])

{'first name': 'Nahid Hassan', 'last name': 'Niloy'}
Niloy

# Tuples

Tuples are very simmilar to list.Once an elemenet is assigned inside a touple, it can not be reassigned.For example,fruits[5]='banana' will cause syntax error.Touple is useulf when we don't want our program to change any values.

In [119]:
fruits=('banana','grape','orange','apple','pineapple','watermelon')
len(fruits)
type(fruits)

tuple

In [122]:
fruits=('banana','grape','orange','apple','pineapple','watermelon')
fruits[-3]

'apple'

In [126]:
#count
fruits=('banana','grape','orange','apple','apple','apple','pineapple','watermelon')
fruits.count('apple')

3

In [1]:
# index
fruits=('banana','grape','orange','apple','apple','apple','pineapple','watermelon')
fruits.count('apple')
#will return the index which was mentioned first time

3

# if else

In [5]:
morning_time="am"

if time == "am":
    print("good morning")
else:
    print("good afternoon")#careful about identation
print("Greetings Done")

good morning
Greetings Done

# Boolean

In python boolean values(True and False) first alphabet should be uppercase

In [128]:
54>58

False

In [130]:
type(False)

bool

# Sets

Sets are unordered collections of unique elements.Meaning there can be only one representative of the same object

fruits=set()
fruits.add('date')
fruits

In [137]:
fruits=set()
fruits.add('date')
fruits.add('apple')
fruits.add('orange')
fruits.add('apple')
fruits
#no duplicate values only unique elements

{'apple', 'date', 'orange'}

In [138]:
fruits=('banana','grape','orange','apple','apple','apple','pineapple','watermelon')
set(fruits)
#no duplicate values only unique elements

{'apple', 'banana', 'grape', 'orange', 'pineapple', 'watermelon'}

Comparison Operators

In [2]:
2 == 1

False

In [3]:
'Hello' == 'Hello'

True

In [4]:
'Hello'== 'hello'
#because of uppercase and lowercase problem

False

In [5]:
4!=5

True

In [7]:
not 5 == 5

False

In [8]:
4<=9

True

In [10]:
'h'=='h' and 2==2

True

In [11]:
'h'=='h' or 2==2

True

In [12]:
'h'=='h' and 2==4

False

In [13]:
'h'=='h' or 2==4

True

If-else-elif

In [18]:
alph='C'
if alph=='A':
 print('vowel')
elif alph == 'B':
 print('consonent')
else:
 print('invalid')

invalid

# For Loop

In [19]:
#list
fruits=['banana','grape','orange','apple','pineapple','watermelon']
for i in fruits:
    print(i)

banana
grape
orange
apple
pineapple
watermelon

In [27]:
#nested list
fruits=[['banana',10],['grape',40],['orange',30],['apple',20]]
for i,j in fruits:
    print(i,"will cost",j,"$")

banana will cost 10 $
grape will cost 40 $
orange will cost 30 $
apple will cost 20 $

In [28]:
#dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for i in fruits.items():
    print(i)

('banana', 10)
('grape', 40)
('orange', 30)
('apple', 20)
('pineapple', 50)
('watermelon', 60)

In [32]:
#print items which are numbers and gretaer than 20
fruits=['banana',10,'grape',40,'orange',30,'apple',20,'pineapple',50,'watermelon',60]
for i in fruits:

    if str(i).isnumeric() and i>20:
     print(i)

#str(i) is used for typecasting and isnumeric() is a function

40
30
50
60

In [35]:
#print apple 10 items
fruits=['apple\n']
for i in fruits:
    print(i*10)

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [95]:
#print odd numbers between (1-10) using for loop
for i in range(1,11):

    if i%2==1:
        print("Odd Numbers:",i)
    elif i%2==0:
        print("Even Numbers:",i)

Odd Numbers: 1
Even Numbers: 2
Odd Numbers: 3
Even Numbers: 4
Odd Numbers: 5
Even Numbers: 6
Odd Numbers: 7
Even Numbers: 8
Odd Numbers: 9
Even Numbers: 10

In [113]:
#print the sum of numbers(1-10)
sum=0
for i in range(1,10):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45

In [115]:
#print the total sum of numbers(1-10)
sum=0
for i in range(1,10):
    sum=sum+i
print(sum)

45

In [116]:
#for loop in string
for i in 'Hello World':
    print(i)

H
e
l
l
o

W
o
r
l
d

In [117]:
for _ in 'Hello World':
    print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [121]:
#tuples
fruits=('banana','grape','orange','apple','pineapple','watermelon')
for i in fruits:
    print(i)

banana
grape
orange
apple
pineapple
watermelon

In [122]:
#list inside a tuples for loops
fruits=[('banana',10),('grape',20)]
for i,j in fruits:
    print(i)

banana
grape

In [123]:
#list inside a tuples for loops
fruits=[('banana',10),('grape',20)]
for i,j in fruits:
    print(j)

10
20

In [125]:
#dictionary in for loops
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for key,value in fruits.items():
    print(value)

10
40
30
20
50
60

In [1]:
#dictionary in for loops
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for key,value in fruits.items():
    print(key)

banana
grape
orange
apple
pineapple
watermelon

In [8]:
#sum of First 10 Natural Numbers
sum=0
for i in range(1,10):
    sum=sum+i
print(sum)

45

In [11]:
#square of First 5 Natural Numbers
#sum=0
for i in range(1,5):
    #sum=sum+i
    print(i*i)

1
4
9
16

In [17]:
#take numbers as list

# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
    ele = int(input())

    lst.append(ele) # adding the element

print(lst)

Enter number of elements : 5
10
12
25
365
25
[10, 12, 25, 365, 25]

In [6]:
#range and for loop
for i in range(1,10,2):
    print(i)
print("*********")
    
for j in range (10): 
    print(j)
#loop will consider 10 as the maximum limit

1
3
5
7
9
*********
0
1
2
3
4
5
6
7
8
9

# While Loop

In [2]:
i=0
while i<11:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
#even and odd numbers using while loop
i=1

while(i<=10):
    if(i%2==0):
        print("Even",i)

    else:
        print("Odd",i)

    i=i+1

Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

In [5]:
#understanding break and continue with the help of while loop
i = 10
while i > 1:
    if i == 9:
        i=i-1
        continue
    if i == 4:
        break
    print(i)
    i=i-1

#continue will skip the number 9 and get out of the loop
#break will come out of the loop and also will abort further execution

10
8
7
6
5

# Pass
Do  nothing at all

In [6]:
x=[1,2,3]
for item in x:
    #we want our program to stop here and do not execute inside this for loop
    pass
print("end of script")

end of script

# Continue
Goes to the top of closest enclosing loop

In [17]:
for i in 'banana':
    if i =='a':
        continue
    print(i)

b
n
n

# Break
Breaks out of the current closest enclosing loop

In [19]:
for i in 'banana':
    if i =='n':
        break
    print(i)

b
a

In [22]:
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [33]:
i=0

while i<11:
    if i==5:
        break
    print(i)
    i+=1

0
1
2
3
4

# Range

In [39]:
#print (0-50) with 5 distacnce
for i in range(0,51,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50

# Generator
generator is a special type of function that will generate information instead of saving it all to memory

In [40]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

# enumerate()

Often, when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task. 
Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.
enumerate(iterable, start=0)

Parameters:
Iterable: any object that supports iteration
Start: the index value from which the counter is to be started, by default it is 0

In [48]:
fruits='pineapple'
for i in enumerate(fruits):
    print(i)

(0, 'p')
(1, 'i')
(2, 'n')
(3, 'e')
(4, 'a')
(5, 'p')
(6, 'p')
(7, 'l')
(8, 'e')

In [51]:
fruits='pineapple'
#tuple unpacking(item,value)
for i,j in enumerate(fruits):
    print(i)
    print(j)

    print("\t")

0
p

1
i

2
n

3
e

4
a

5
p

6
p

7
l

8
e

# zip()
The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.Will go as far as the shortest list if the lists are not conatining same number of elements

In [57]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']

for i in zip(fruits,price):
    print(i)

('banana', '10')
('grape', '20')
('orange', '30')
('apple', '40')
('pineapple', '50')
('watermelon', '60')

In [58]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
name='niloy'

for i in zip(fruits,price,name):
    print(i)

('banana', '10', 'n')
('grape', '20', 'i')
('orange', '30', 'l')
('apple', '40', 'o')
('pineapple', '50', 'y')

In [62]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
name='niloy'

for i,j,k in zip(fruits,price,name):
    print(k)

n
i
l
o
y

In [61]:
list(zip(fruits,name))

[('banana', 'n'),
 ('grape', 'i'),
 ('orange', 'l'),
 ('apple', 'o'),
 ('pineapple', 'y')]

# in
usefel to check is item is present in a list,tuple,dictionary

In [63]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
'grace' in fruits

False

In [64]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
'grape' in fruits

True

In [67]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
'grape' in fruits

True

In [68]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
'30' in fruits

False

In [83]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
30 in fruits.values()

True

# min,max

In [91]:
price=['10','20','30','40','50','60']
min(price)

'10'

In [92]:
price=['10','20','30','40','50','60']
max(price)

'60'

# shuffle()
randomly shffle items from a list

In [97]:
from random import shuffle
price=['10','20','30','40','50','60']
shuffle(price)
print(price)

['20', '10', '30', '60', '50', '40']

# randint()
gives  us a random int

In [101]:
from random import randint
randint(0,100)

85

# Take user input
Input accepts anything has passed into it as string

In [103]:
input("Enter a number ")

Enter a number 10

'10'

In [105]:
result=input("What is your name ")
print("Name :",result)

What is your name Jhonny
Name : Jhonny

In [121]:
result=input("What is your cgpa ")
print("CGPA :",result)

What is your cgpa 2.98
CGPA : 2.98

# help()
documentation of object

In [125]:
price=['10','20','30','40','50','60']
help(price.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Function

snakecasing all lowercase with underscores between words
example : name_of_function()
()this is called paranthesis later we will pass arguments/parameters using this

In [128]:
def fruits():
    print('apple')
    print('orange')
    print('banana')

In [129]:
fruits()

apple
orange
banana

In [2]:
def fruits(name):
    print(f'My favourite fruit is {name}')

In [3]:
    fruits('banana')

My favourite fruit is banana

In [4]:
def sum(num1,num2):
    return num1+num2
#return instead of just printing out function allows us to say them as variable

In [5]:
sum(10,20)

30

In [7]:
def even_check(number):
    result= number%2==0
    return result

In [8]:
even_check(20)

True

In [9]:
even_check(21)

False

In [10]:
def even_check(number):
    return number%2==0

In [11]:
even_check(11)

False

In [39]:
#return even or odd
num=int(input("Enter a number: "))

def check_even_odd(num):
        if num%2==0:
            print(f'{num} is an even number')
        else:
            print(f'{num} is an odd number')
            
check_even_odd(num)

Enter a number: 44
44 is an even number

In [47]:
#return vowel or consonent
alp=(input("Enter an alphabet in small letter: "))

def check_vowel(alp):
        if alp=='a'or alp=='e'or alp=='i'or alp=='o'or alp=='u':
            print(f'Alphabet {alp} is a vowel')
        else:
            print(f'Alphabet {alp} is a consonant')
            
check_vowel(alp)

Enter an alphabet in small letter: x
Alphabet x is a consonant

In [62]:
#print out the most expensive fruit using function and tuple unpacking
fruits=[('banana',10),('grape',20),('orange',30),('apple',40),('pineapple',50)]
fruits

[('banana', 10),
 ('grape', 20),
 ('orange', 30),
 ('apple', 40),
 ('pineapple', 50)]

In [63]:
def most_expensive_fruits(fruits):
    fruit_price=0
    fruit_name=''
    for i,j in fruits:
        if j>fruit_price:
            fruit_price=j
            fruit_name=i
        else:
            pass
    return(fruit_name,fruit_price)

In [64]:
most_expensive_fruits(fruits)

('pineapple', 50)

In [87]:
#TOSS
from random import randint

result=randint(1,2)
result
team1=input("Enter the name of home team:  ")
team2=input("Enter the name of away team:  ")
pick=input("Choose between head and tail: ")
if result==1 and pick=='head'or pick=='tail':
    print(f'{team1} won the toss')
else:
    print(f'{team2} won the toss')

Enter the name of home team:  India
Enter the name of away team:  Pakistan
Choose between head and tail: tail
India won the toss

In [1]:
#Guess who got the card
#shuffle cards 
cards=['heart','dice','spades','clubs']
from random import shuffle
#shuffle does not work without a function
def shuffle_cards(cards):
    shuffle(cards)
    return cards

In [4]:
#guess which player has the card
cards=['heart','dice','spades','clubs']
pcards=input("pick a card: ")
if pcards=="heart"or pcards=="spades" or pcards=="clubs" or pcards=="dice":
    print(f'picked {pcards} successfully')
else:
    print("invalid")

pick a card: spades
picked spades successfully

In [5]:
#guess player number
num=['1','2','3','4']
num=input("Chose Player Number: ")
if num=='1'or num=='2'or num=='3'or num=='4':
    print(f'Lets check if player {num} has the {pcards} or not')
else:
    print("invalid")

Chose Player Number: 2
Lets check if player 2 has the spades or not

In [6]:
shuffle_result=shuffle_cards(cards)
shuffle_result

['clubs', 'heart', 'dice', 'spades']

In [7]:

print("player 1 got",shuffle_result[0])

player 1 got clubs

In [8]:
print("player 2 got",shuffle_result[1])

player 2 got heart

In [9]:
print("player 3 got",shuffle_result[2])

player 3 got dice

In [10]:
print("player 4 got",shuffle_result[3])

player 4 got spades

In [11]:
show_result=shuffle_result.index('spades')
show_result=show_result+1
show_result
print(f' Player {show_result} got the card')

 Player 4 got the card

In [12]:
guessed_player=int(num)
guessed_player
print(f'Guessed player number was {guessed_player}')

Guessed player number was 2

In [13]:
if show_result==guessed_player:
    print(f'Correct Guess, Player {num} has {pcards}')
    
else:
    print("Wrong Guess")

Wrong Guess

In [8]:
def Greet(name):
    print("Good Morning, "+name)
Greet("Nahid")
Greet("Hassan")
Greet("Niloy")

Good Morning, Nahid
Good Morning, Hassan
Good Morning, Niloy

# Function Argument

In [8]:
#5% of sum for two numbers
def add_sum(a,b):
    return sum((a,b))*0.05

In [9]:
add_sum(10,20)

1.5

In [13]:
#5% of sum for more than two numbers
#it is limited to five numbers
def add_sum(a,b,c=0):
    return sum((a,b,c))*0.05

In [12]:
add_sum(10,20,30)

3.0

In [31]:
# *args allows us to work with infinte numbers
#it works as same as the tuples
def add_sum(*args):
    print(args)
    return sum(args)*0.05

In [32]:
add_sum(10,20,30,40,50,60,70)

(10, 20, 30, 40, 50, 60, 70)

14.0

In [29]:
# **kwargs is almost as same as *args but instead of tuple it returns a dictionary
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My favourite fruit and vegetable is {} '.format(kwargs['fruit']))
    else:
        pass

In [30]:
myfunc(fruit='apple')

{'fruit': 'apple'}
My favourite fruits are apple

In [41]:
#using args and kwrags at the same time
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('Jersey number {} of Manchester United is owned by {} '.format(args[0],kwargs['name']))

In [44]:
myfunc(7,name='Cristiano Ronaldo')

(7,)
{'name': 'Cristiano Ronaldo'}
Jersey number 7 of Manchester United is owned by Cristiano Ronaldo

# map()
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.
Syntax :

map(fun, iter)
Parameters :

fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.

NOTE : You can pass one or more iterable to the map() function.

Returns :

Returns a list of the results after applying the given function  
to each item of a given iterable (list, tuple etc.) 
 
NOTE : The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

In [45]:
#Squares of number using map

def square(num):
    return num**2

In [46]:
numlist=[12,14,5,32,4,16]

In [47]:
for i in map(square,numlist):
    print(i)

144
196
25
1024
16
256

In [51]:
#print vowelnames using map()

def vowelname(name):
    if name[0]=='A'or name[0]=='E' or name[0]=='I' or name[0]=='O'or name[0]=='U':
        return name
    else:
        return name[0]

In [55]:
namelist=['Arif','Jobayer','Raju','Orthy','Iqbal']

In [58]:
list(map(vowelname,namelist))

['Arif', 'J', 'R', 'Orthy', 'Iqbal']

# filter()

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

syntax:
filter(function, sequence)

Parameters:
function: function that tests if each element of a 
sequence true or not.

sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.

Returns:
returns an iterator that is already filtered

In [187]:
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable not in letters):
        return True
    else:
        return False
  
  
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered =list(filter(fun, sequence))
filtered

['g', 'j', 'k', 's', 'p', 'r']

# lamda()
Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. Lambda functions can be used wherever function objects are required.

In [206]:
item=[("Apple",10),("Banana",22),("Orange",15),("Pineapple",7)]

list(filter(lambda item: item[1] <= 20,item))

[('Apple', 10), ('Orange', 15), ('Pineapple', 7)]

# class

for classes we use CamelCasing

_init_ method is called whenever we are creating instance of a class


self connencts _init_ with the instance of a class

In [260]:
class Dog:
    def _init_(self,breed):
        self.breed = breed

In [262]:
dog1=Dog()
dog2=Dog()
dog1.breed='lad'
dog2.breed='huskie'
print(dog1.breed)
print(dog2.breed)

lad
huskie

In [266]:
class Fruit:
    def __init__(self,name,season,price):
        self.name = name
        self.season=season
        self.price=price

In [277]:
fruit1=Fruit()
fruit1.name='Banana'
fruit1.season='Winter'
fruit1.price='10'
print("Name: "+fruit1.name)
print("Season: "+fruit1.season)
print("Price: "+fruit1.price)

Name: Banana
Season: Winter
Price: 10

In [4]:
#get
class Person:
    def __init__(self,person_name):
        self.name = person_name

    def get_name(self):
        return self.name
person1=Person("Niloy")
person2=Person("Antu")
print(person1.get_name())
print(person2.get_name())

Niloy
Antu

In [23]:
#print person details
class Person:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
person1=Person("Niloy","26","20-9-1996")
print(person1.get_personDetails())

 Name:Niloy
 Age:26
 Date of Birth:20-9-1996

In [25]:
#print person details changing full name
class Person:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_name(self):
        return self.name
    
    def set_name(self,fullName):
        self.name=fullName
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
#person1=Person("Niloy","26","20-9-1996")
#print(person1.get_personDetails())

person1.set_name("Nahid Hassan Niloy")
print(person1.get_personDetails())

 Name:Nahid Hassan Niloy
 Age:26
 Date of Birth:20-9-1996

In [29]:
#class object attribute : is same for all instance
#user defined attibute: (self,name,age,dob)
#print person details
class Person:
    university= 'AIUB'
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
person1=Person("Niloy","26","20-9-1996")
print(person1.get_personDetails())
person1.university

 Name:Niloy
 Age:26
 Date of Birth:20-9-1996

'AIUB'

In [31]:
#bark the dog setting an action to a new method
class Dog:
    def __init__(self,breed):
        self.breed = breed
    def bark(self):
        print("WOOFWWOOOOFWOOOOFWOOOOOF")
    
dog1=Dog(breed='lad')
print(dog1.breed)
dog1.bark()

lad
WOOFWWOOOOFWOOOOFWOOOOOF

In [36]:
#bark the dog setting an action to a new method and reason of barking
class Dog:
    def __init__(self,breed):
        self.breed = breed
    def bark(self,reason):
        print("WOOFWWOOOOFWOOOOFWOOOOOF, I want {}".format(reason))
    
dog1=Dog(breed='lad')
print(dog1.breed)
dog1.bark("food")

lad
WOOFWWOOOOFWOOOOFWOOOOOF, I want food

In [25]:
#print area of a circle
pi=3.14
def area_of_circle(pi,r):
    return pi*r**2

In [26]:
area_of_circle(pi,14)

615.44

In [15]:
#print area of a circle
class Circle():
    pi=3.14

    def __init__(self,radius=14):
        self.radius=radius
    def get_area(self):
        return self.radius*self.pi*2

In [16]:
circle1=Circle()
circle1.get_area()

87.92

In [17]:
#print area of a circle
class Circle():
    pi=3.14

    def __init__(self,radius=14):
        self.radius=radius
        self.area=radius*radius*Circle.pi
        #self.area=radius*radius*self.pi
    def get_area(self):
        return self.radius*Circle.pi*2

In [18]:
circle1=Circle()
circle1.get_area()

87.92

# Inheritence

In [50]:
#single level inheritence

class University():
    def library(self):
        print("Have access to libraray")
class Student(University):
    def exam(self):
        print("Have access to exam hall")

#university1=University()
#university1.library()
student1=Student()
student1.exam()
student1.library()

Have access to exam hall
Have access to libraray

In [51]:
#multilevel level inheritence

class University():
    def library(self):
        print("Have access to libraray")
class Student(University):
    def exam(self):
        print("Have access to exam hall")
class Teacher(Student):
    def locker(self):
        print("Have access to locker room")
    

#university1=University()
#university1.library()
#student1=Student()
#student1.exam()
#student1.library()
teacher1=Teacher()
teacher1.exam()
teacher1.library()
teacher1.locker()

Have access to exam hall
Have access to libraray
Have access to locker room

In [52]:
#multiple inheritence
#multilevel level inheritence

class University():
    def library(self):
        print("Have access to libraray")
class Student():
    def exam(self):
        print("Have access to exam hall")
class Teacher(Student,University):
    def locker(self):
        print("Have access to locker room")
    

#university1=University()
#university1.library()
#student1=Student()
student1.exam()
#student1.library()
teacher1=Teacher()
teacher1.exam()
teacher1.library()
teacher1.locker()

Have access to exam hall
Have access to exam hall
Have access to libraray
Have access to locker room

# Polymorphism

In [80]:
class Dog:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return (f'{self.name} says wooofwooof')
class Cat:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return (f'{self.name} says meowmeoow')

In [81]:
dog1=Dog("niku")
cat1=Cat("felu")

In [82]:
dog1.speak()

'niku says wooofwooof'

In [83]:
cat1.speak()

'felu says meowmeoow'

In [85]:
for pet in [dog1,cat1]:
    print (pet.speak())

niku says wooofwooof
felu says meowmeoow

# sleep()
sleep() method is used to stop execution for a certain amount of time

In [2]:
import time
for i in range(11):
    print(i)
    if(i==5):
        time.sleep(5)

0
1
2
3
4
5
6
7
8
9
10