# Get Started

In [1]:
print("Hello World")

Hello World

# Number Operation

In [2]:
1+2

3

In [3]:
2-3

-1

In [4]:
2*8

16

In [5]:
16%3

1

In [6]:
#2 to the power 3
2 ** 3

8

In [7]:
2+10*(10-2)

82

### Complex Numbers

In [71]:

z= 4j #complex numbers are represented as j in Python

type(z)

complex

### Scientific Numbers

In [74]:
x=45e3 #e means 10^

In [75]:
print(x)

45000.0

# Data Type

In [8]:
a=10.22
type(a)

float

In [9]:
a=int(10.22)
type(a)

int

In [10]:
print(a)

10

# Variables

Variable carries value


# Python Variable Naming Rules (Simple)

### Valid Examples:
* `my_variable`
* `user_id_2`
* `_temp_data`
* `Age`
* `__internal_value` (for special use by Python)

### Invalid Examples:
* `1st_name` (starts with a number)
* `total-price` (contains a hyphen)
* `user name` (contains a space)
* `for` (is a reserved keyword, like `if`, `class`, `True`)
* `item#` (contains a symbol)
* `my@email` (contains a symbol)

Remember, Python variable names are **case-sensitive** (`myVar` is different from `myvar`).

## Naming Conventions (for cleaner code):

1.  Regular Variables & Functions:** Use `snake_case` (all lowercase, words separated by underscores).
    Example: `first_name`, `calculate_total_amount`

2.  Constants: Use `ALL_CAPS_SNAKE_CASE` (uppercase, words separated by underscores).
    Example: `MAX_RETRIES`, `DEFAULT_TIMEOUT`

3.  Class Names: Use `PascalCase` (first letter of each word capitalized).
    Example:`UserProfile`, `DatabaseConnector`

4.  "Internal Use" (weak private): Start the name with a single underscore (`_`). This is a hint not to use it directly from outside.
    Example: `_private_helper`, `_cached_result`

5.  Special Python Methods ("dunder methods"): These start and end with double underscores (`__name__`). They have specific Python meanings, so avoid using this style for your regular variables.
    Example: `__init__`, `__str__`

In [11]:
#Calculate income excluding taxes
my_taxrate=0.04
my_salary=18000
my_income=my_salary-(my_salary * my_taxrate)
print(my_income)

17280.0

# Working with strings

In [12]:
"hello from world's best coder"

"hello from world's best coder"

In [13]:
'hello universe'

'hello universe'

In [14]:
print("i do not want any string sign here just want the actual text")

i do not want any string sign here just want the actual text

In [15]:
print("i do not want any string sign here, \njust want the actual text")

i do not want any string sign here,
just want the actual text

In [16]:
print("i do not want any string sign here, \tjust want the actual text")

i do not want any string sign here, 	just want the actual text

In [17]:
len("I eat rice ")

11

In [18]:
len("Ieatrice")

8

### Indexing & Slicing

In [19]:
my_string=("The color of the sky is blue")
my_string[-4]

'b'

In [20]:
my_string=("The color of the sky is blue")
my_string[7]

'o'

In [21]:
# alp[starts:upto:stepsize]
alp=("abcdefghij")
alp[::]

'abcdefghij'

In [22]:
alp[3:]

'defghij'

In [23]:
alp[:3]

'abc'

In [24]:
alp[0:9:2]

'acegi'

In [25]:
#reverse string
alp[::-1]

'jihgfedcba'

In [26]:
#concate full name
first_name="Nahid Hassan "
last_name="Niloy"
full_name=first_name+last_name
print(full_name)

Nahid Hassan Niloy

In [27]:
first_name+'Robin'

'Nahid Hassan Robin'

In [28]:
letter='n'
letter*10

'nnnnnnnnnn'

In [29]:
#print nn14 using concatination
letter='n'
output=letter*2+'1'+'4'
print(output)

nn14

In [30]:
text="HELlo WorLD"
text.upper()

'HELLO WORLD'

In [31]:
text.lower()

'hello world'

In [32]:
my_string=("The color of the sky is blue")
my_string.split()

['The', 'color', 'of', 'the', 'sky', 'is', 'blue']

In [66]:
my_string.split('o')

['The c', 'l', 'r ', 'f the sky is blue']

# Print Format

In [34]:
#formatting the sentence
text1=('{3} {0} {2} {1}'.format('quick','fox','brown','the'))
#print(text1)
text2=(' {j} {o} the {l} {d}'.format(o='over',j='jumps',l='lazy',d='dog'))
#print(text2)
text= text1 +  text2
print(text)

the quick brown fox jumps over the lazy dog

#float formatting
{value:Width.precision f}
width describes mainly the whitespace(not mendatory)

In [35]:
#precised value of pi
pi=3.1415926535
print ("The value of pi: {p:.4f}".format(p=pi))

The value of pi: 3.1416

In [36]:
#fstring(shortcut method)
name="niloy"
print(f'my name is {name}')

my name is niloy

In [37]:
#introduce yourself using f string
first_name="Nahid Hassan "
last_name="Niloy"
full_name=first_name+last_name
uni="AIUB"
print(f'I am {full_name},I studied from {uni}')

I am Nahid Hassan Niloy,I studied from AIUB

In [38]:
#apple's price is $20
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
#print(The price of fruits[3] + price[1])
#product=fruits[3]
#cost=price[1]
#print(f'The price of {product} is {cost}')
print(f'The price of {fruits[3]} is {price[1]}')

The price of apple is 20

# List

In [39]:
values=[1,4,"Niloy",29]
print(values[2])

Niloy

In [40]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
len(fruits)

6

In [41]:
fruits[2:5]

['orange', 'apple', 'pineapple']

In [42]:
price=['10','20','30','40','50','60']
price[2]
fruits+price

['banana',
 'grape',
 'orange',
 'apple',
 'pineapple',
 'watermelon',
 '10',
 '20',
 '30',
 '40',
 '50',
 '60']

In [43]:
#insert element
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits[4]='date'
fruits

['banana', 'grape', 'orange', 'apple', 'date', 'watermelon']

In [44]:
#insert element to a particular index
info=["Nahid Hassan",26,2.98]
info.insert(1,"Niloy")
print(info)

['Nahid Hassan', 'Niloy', 26, 2.98]

In [45]:
#insert element to last
#append function
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.append('date')
print(fruits)

['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon', 'date']

In [46]:
#pop element from last
#pop function
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.pop()
print(fruits)

['banana', 'grape', 'orange', 'apple', 'pineapple']

In [47]:
#pop element from index
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.pop(2)
print(fruits)

['banana', 'grape', 'apple', 'pineapple', 'watermelon']

In [48]:
#delete element from index
fruits=['banana','grape','orange','apple','pineapple','watermelon']
del fruits[2]
print(fruits)

['banana', 'grape', 'apple', 'pineapple', 'watermelon']

In [49]:
#sort in alphabetical order
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.sort()
fruits

['apple', 'banana', 'grape', 'orange', 'pineapple', 'watermelon']

In [50]:
#reverse elements
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.reverse()
fruits

['watermelon', 'pineapple', 'apple', 'orange', 'grape', 'banana']

# Dictonary

Inside a dictionary there can be list ,integer, and even a dictionary

In [51]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['apple']

20

In [52]:
my_dic={'my_int':123,'my_list':[1,2,3,4],'new_dic':{'key':14}}
my_dic['new_dic']

{'key': 14}

In [53]:
my_dic={"num":1,2:"num",3:"Hello World"}
print(my_dic[2])
print(my_dic["num"])
print(my_dic[3])

num
1
Hello World

In [54]:
#upper() using a dictionary
fruits={'fruitsName': ['banana','grape','orange','apple','pineapple','watermelon']}
fruits['fruitsName'][4].upper()

'PINEAPPLE'

In [55]:
#add new dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['date']='80'
fruits

{'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60,
 'date': '80'}

In [56]:
#change value of a key in a dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['grpae']='45'
fruits

{'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60,
 'grpae': '45'}

In [57]:
#show keys,values and items
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.keys()

dict_keys(['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon'])

In [58]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.values()

dict_values([10, 40, 30, 20, 50, 60])

In [59]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.items()

dict_items([('banana', 10), ('grape', 40), ('orange', 30), ('apple', 20), ('pineapple', 50), ('watermelon', 60)])

In [60]:
#create dictionary at runtime
my_dic={}
my_dic["first name"]= "Nahid Hassan"
my_dic["last name"]= "Niloy"
print(my_dic)
print(my_dic["last name"])

{'first name': 'Nahid Hassan', 'last name': 'Niloy'}
Niloy

# Tuples

Tuples are very simmilar to list.Once an elemenet is assigned inside a touple, it can not be reassigned.For example,fruits[5]='banana' will cause syntax error.Touple is useulf when we don't want our program to change any values.

In [61]:
fruits=('banana','grape','orange','apple','pineapple','watermelon')
len(fruits)
type(fruits)

tuple

In [62]:
fruits=('banana','grape','orange','apple','pineapple','watermelon')
fruits[-3]

'apple'

In [63]:
#count
fruits=('banana','grape','orange','apple','apple','apple','pineapple','watermelon')
fruits.count('apple')

3

In [64]:
# index
fruits=('banana','grape','orange','apple','apple','apple','pineapple','watermelon')
fruits.count('apple')
#will return the index which was mentioned first time

3

# if else

In [81]:
time="pm"

if time == "am":
    print("good morning")
elif time =="pm":
    print("good noon")
else:                      #else indicates this is the last condition
    print("good afternoon")#careful about identation
print("Greetings Done")

good noon
Greetings Done

### nested if else

In [90]:
num = 12
if num>=10:
    print("Above 10")
    if num <= 20:
        print("Below 20")
    else:
        print("Above 20")
else:
    print("invalid")

Above 10
Below 20

# Boolean

In python boolean values(True and False) first alphabet should be uppercase

In [82]:
54>58

False

In [83]:
type(False)

bool

# Sets

Sets are unordered collections of unique elements.Meaning there can be only one representative of the same object

fruits=set()
fruits.add('date')
fruits

In [ ]:
fruits=set()
fruits.add('date')
fruits.add('apple')
fruits.add('orange')
fruits.add('apple')
fruits
#no duplicate values only unique elements

In [ ]:
fruits=('banana','grape','orange','apple','apple','apple','pineapple','watermelon')
set(fruits)
#no duplicate values only unique elements

Comparison Operators

In [ ]:
2 == 1

In [ ]:
'Hello' == 'Hello'

In [ ]:
'Hello'== 'hello'
#because of uppercase and lowercase problem

In [ ]:
4!=5

In [ ]:
not 5 == 5

In [ ]:
4<=9

In [ ]:
'h'=='h' and 2==2

In [ ]:
'h'=='h' or 2==2

In [ ]:
'h'=='h' and 2==4

In [ ]:
'h'=='h' or 2==4

If-else-elif

In [ ]:
alph='C'
if alph=='A':
 print('vowel')
elif alph == 'B':
 print('consonent')
else:
 print('invalid')

# For Loop

In [ ]:
#list
fruits=['banana','grape','orange','apple','pineapple','watermelon']
for i in fruits:
    print(i)

In [ ]:
#nested list
fruits=[['banana',10],['grape',40],['orange',30],['apple',20]]
for i,j in fruits:
    print(i,"will cost",j,"$")

In [ ]:
#dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for i in fruits.items():
    print(i)

In [ ]:
#print items which are numbers and gretaer than 20
fruits=['banana',10,'grape',40,'orange',30,'apple',20,'pineapple',50,'watermelon',60]
for i in fruits:

    if str(i).isnumeric() and i>20:
     print(i)

#str(i) is used for typecasting and isnumeric() is a function

In [ ]:
#print apple 10 items
fruits=['apple\n']
for i in fruits:
    print(i*10)

In [ ]:
#print odd numbers between (1-10) using for loop
for i in range(1,11):

    if i%2==1:
        print("Odd Numbers:",i)
    elif i%2==0:
        print("Even Numbers:",i)

In [ ]:
#print the sum of numbers(1-10)
sum=0
for i in range(1,10):
    sum=sum+i
    print(sum)

In [ ]:
#print the total sum of numbers(1-10)
sum=0
for i in range(1,10):
    sum=sum+i
print(sum)

In [ ]:
#for loop in string
for i in 'Hello World':
    print(i)

In [ ]:
for _ in 'Hello World':
    print('Hi')

In [ ]:
#tuples
fruits=('banana','grape','orange','apple','pineapple','watermelon')
for i in fruits:
    print(i)

In [ ]:
#list inside a tuples for loops
fruits=[('banana',10),('grape',20)]
for i,j in fruits:
    print(i)

In [ ]:
#list inside a tuples for loops
fruits=[('banana',10),('grape',20)]
for i,j in fruits:
    print(j)

In [ ]:
#dictionary in for loops
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for key,value in fruits.items():
    print(value)

In [ ]:
#dictionary in for loops
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for key,value in fruits.items():
    print(key)

In [ ]:
#sum of First 10 Natural Numbers
sum=0
for i in range(1,10):
    sum=sum+i
print(sum)

In [ ]:
#square of First 5 Natural Numbers
#sum=0
for i in range(1,5):
    #sum=sum+i
    print(i*i)

In [ ]:
#take numbers as list

# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
    ele = int(input())

    lst.append(ele) # adding the element

print(lst)

In [ ]:
#range and for loop
for i in range(1,10,2):
    print(i)
print("*********")
    
for j in range (10): 
    print(j)
#loop will consider 10 as the maximum limit

# While Loop

In [ ]:
i=0
while i<11:
    print(i)
    i=i+1

In [ ]:
#even and odd numbers using while loop
i=1

while(i<=10):
    if(i%2==0):
        print("Even",i)

    else:
        print("Odd",i)

    i=i+1

In [ ]:
#understanding break and continue with the help of while loop
i = 10
while i > 1:
    if i == 9:
        i=i-1
        continue
    if i == 4:
        break
    print(i)
    i=i-1

#continue will skip the number 9 and get out of the loop
#break will come out of the loop and also will abort further execution

# Pass
Do  nothing at all

In [ ]:
x=[1,2,3]
for item in x:
    #we want our program to stop here and do not execute inside this for loop
    pass
print("end of script")

# Continue
Goes to the top of closest enclosing loop

In [ ]:
for i in 'banana':
    if i =='a':
        continue
    print(i)

# Break
Breaks out of the current closest enclosing loop

In [ ]:
for i in 'banana':
    if i =='n':
        break
    print(i)

In [ ]:
for i in range(1,11):
    if i==5:
        break
    print(i)

In [ ]:
i=0

while i<11:
    if i==5:
        break
    print(i)
    i+=1

# Range

In [ ]:
#print (0-50) with 5 distacnce
for i in range(0,51,5):
    print(i)

# Generator
generator is a special type of function that will generate information instead of saving it all to memory

In [ ]:
list(range(0,11,2))

# enumerate()

Often, when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmers’ task by providing a built-in function enumerate() for this task. 
Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.
enumerate(iterable, start=0)

Parameters:
Iterable: any object that supports iteration
Start: the index value from which the counter is to be started, by default it is 0

In [ ]:
fruits='pineapple'
for i in enumerate(fruits):
    print(i)

In [ ]:
fruits='pineapple'
#tuple unpacking(item,value)
for i,j in enumerate(fruits):
    print(i)
    print(j)

    print("\t")

# zip()
The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.Will go as far as the shortest list if the lists are not conatining same number of elements

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']

for i in zip(fruits,price):
    print(i)

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
name='niloy'

for i in zip(fruits,price,name):
    print(i)

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
name='niloy'

for i,j,k in zip(fruits,price,name):
    print(k)

In [ ]:
list(zip(fruits,name))

# in
usefel to check is item is present in a list,tuple,dictionary

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
'grace' in fruits

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
'grape' in fruits

In [ ]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
'grape' in fruits

In [ ]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
'30' in fruits

In [ ]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
30 in fruits.values()

# min,max

In [ ]:
price=['10','20','30','40','50','60']
min(price)

In [ ]:
price=['10','20','30','40','50','60']
max(price)

# shuffle()
randomly shffle items from a list

In [ ]:
from random import shuffle
price=['10','20','30','40','50','60']
shuffle(price)
print(price)

# randint()
gives  us a random int

In [ ]:
from random import randint
randint(0,100)

# Take user input
Input accepts anything has passed into it as string

In [ ]:
input("Enter a number ")

In [ ]:
result=input("What is your name ")
print("Name :",result)

In [ ]:
result=input("What is your cgpa ")
print("CGPA :",result)

# help()
documentation of object

In [ ]:
price=['10','20','30','40','50','60']
help(price.insert)

# Function

snakecasing all lowercase with underscores between words
example : name_of_function()
()this is called paranthesis later we will pass arguments/parameters using this

In [ ]:
def fruits():
    print('apple')
    print('orange')
    print('banana')

In [ ]:
fruits()

In [ ]:
def fruits(name):
    print(f'My favourite fruit is {name}')

In [ ]:
    fruits('banana')

In [ ]:
def sum(num1,num2):
    return num1+num2
#return instead of just printing out function allows us to say them as variable

In [ ]:
sum(10,20)

In [ ]:
def even_check(number):
    result= number%2==0
    return result

In [ ]:
even_check(20)

In [ ]:
even_check(21)

In [ ]:
def even_check(number):
    return number%2==0

In [ ]:
even_check(11)

In [ ]:
#return even or odd
num=int(input("Enter a number: "))

def check_even_odd(num):
        if num%2==0:
            print(f'{num} is an even number')
        else:
            print(f'{num} is an odd number')
            
check_even_odd(num)

In [ ]:
#return vowel or consonent
alp=(input("Enter an alphabet in small letter: "))

def check_vowel(alp):
        if alp=='a'or alp=='e'or alp=='i'or alp=='o'or alp=='u':
            print(f'Alphabet {alp} is a vowel')
        else:
            print(f'Alphabet {alp} is a consonant')
            
check_vowel(alp)

In [ ]:
#print out the most expensive fruit using function and tuple unpacking
fruits=[('banana',10),('grape',20),('orange',30),('apple',40),('pineapple',50)]
fruits

In [ ]:
def most_expensive_fruits(fruits):
    fruit_price=0
    fruit_name=''
    for i,j in fruits:
        if j>fruit_price:
            fruit_price=j
            fruit_name=i
        else:
            pass
    return(fruit_name,fruit_price)

In [ ]:
most_expensive_fruits(fruits)

In [ ]:
#TOSS
from random import randint

result=randint(1,2)
result
team1=input("Enter the name of home team:  ")
team2=input("Enter the name of away team:  ")
pick=input("Choose between head and tail: ")
if result==1 and pick=='head'or pick=='tail':
    print(f'{team1} won the toss')
else:
    print(f'{team2} won the toss')

In [ ]:
#Guess who got the card
#shuffle cards 
cards=['heart','dice','spades','clubs']
from random import shuffle
#shuffle does not work without a function
def shuffle_cards(cards):
    shuffle(cards)
    return cards

In [ ]:
#guess which player has the card
cards=['heart','dice','spades','clubs']
pcards=input("pick a card: ")
if pcards=="heart"or pcards=="spades" or pcards=="clubs" or pcards=="dice":
    print(f'picked {pcards} successfully')
else:
    print("invalid")

In [ ]:
#guess player number
num=['1','2','3','4']
num=input("Chose Player Number: ")
if num=='1'or num=='2'or num=='3'or num=='4':
    print(f'Lets check if player {num} has the {pcards} or not')
else:
    print("invalid")

In [ ]:
shuffle_result=shuffle_cards(cards)
shuffle_result

In [ ]:

print("player 1 got",shuffle_result[0])

In [ ]:
print("player 2 got",shuffle_result[1])

In [ ]:
print("player 3 got",shuffle_result[2])

In [ ]:
print("player 4 got",shuffle_result[3])

In [ ]:
show_result=shuffle_result.index('spades')
show_result=show_result+1
show_result
print(f' Player {show_result} got the card')

In [ ]:
guessed_player=int(num)
guessed_player
print(f'Guessed player number was {guessed_player}')

In [ ]:
if show_result==guessed_player:
    print(f'Correct Guess, Player {num} has {pcards}')
    
else:
    print("Wrong Guess")

In [ ]:
def Greet(name):
    print("Good Morning, "+name)
Greet("Nahid")
Greet("Hassan")
Greet("Niloy")

# Function Argument

In [ ]:
#5% of sum for two numbers
def add_sum(a,b):
    return sum((a,b))*0.05

In [ ]:
add_sum(10,20)

In [ ]:
#5% of sum for more than two numbers
#it is limited to five numbers
def add_sum(a,b,c=0):
    return sum((a,b,c))*0.05

In [ ]:
add_sum(10,20,30)

In [ ]:
# *args allows us to work with infinte numbers
#it works as same as the tuples
def add_sum(*args):
    print(args)
    return sum(args)*0.05

In [ ]:
add_sum(10,20,30,40,50,60,70)

In [ ]:
# **kwargs is almost as same as *args but instead of tuple it returns a dictionary
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My favourite fruit and vegetable is {} '.format(kwargs['fruit']))
    else:
        pass

In [ ]:
myfunc(fruit='apple')

In [ ]:
#using args and kwrags at the same time
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('Jersey number {} of Manchester United is owned by {} '.format(args[0],kwargs['name']))

In [ ]:
myfunc(7,name='Cristiano Ronaldo')

# map()
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.
Syntax :

map(fun, iter)
Parameters :

fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.

NOTE : You can pass one or more iterable to the map() function.

Returns :

Returns a list of the results after applying the given function  
to each item of a given iterable (list, tuple etc.) 
 
NOTE : The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

In [ ]:
#Squares of number using map

def square(num):
    return num**2

In [ ]:
numlist=[12,14,5,32,4,16]

In [ ]:
for i in map(square,numlist):
    print(i)

In [ ]:
#print vowelnames using map()

def vowelname(name):
    if name[0]=='A'or name[0]=='E' or name[0]=='I' or name[0]=='O'or name[0]=='U':
        return name
    else:
        return name[0]

In [ ]:
namelist=['Arif','Jobayer','Raju','Orthy','Iqbal']

In [ ]:
list(map(vowelname,namelist))

# filter()

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

syntax:
filter(function, sequence)

Parameters:
function: function that tests if each element of a 
sequence true or not.

sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.

Returns:
returns an iterator that is already filtered

In [ ]:
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable not in letters):
        return True
    else:
        return False
  
  
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered =list(filter(fun, sequence))
filtered

# lamda()
Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. Lambda functions can be used wherever function objects are required.

In [ ]:
item=[("Apple",10),("Banana",22),("Orange",15),("Pineapple",7)]

list(filter(lambda item: item[1] <= 20,item))

# class

for classes we use CamelCasing

_init_ method is called whenever we are creating instance of a class


self connencts _init_ with the instance of a class

In [ ]:
class Dog:
    def _init_(self,breed):
        self.breed = breed

In [ ]:
dog1=Dog()
dog2=Dog()
dog1.breed='lad'
dog2.breed='huskie'
print(dog1.breed)
print(dog2.breed)

In [ ]:
class Fruit:
    def __init__(self,name,season,price):
        self.name = name
        self.season=season
        self.price=price

In [ ]:
fruit1=Fruit()
fruit1.name='Banana'
fruit1.season='Winter'
fruit1.price='10'
print("Name: "+fruit1.name)
print("Season: "+fruit1.season)
print("Price: "+fruit1.price)

In [ ]:
#get
class Person:
    def __init__(self,person_name):
        self.name = person_name

    def get_name(self):
        return self.name
person1=Person("Niloy")
person2=Person("Antu")
print(person1.get_name())
print(person2.get_name())

In [ ]:
#print person details
class Person:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
person1=Person("Niloy","26","20-9-1996")
print(person1.get_personDetails())

In [ ]:
#print person details changing full name
class Person:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_name(self):
        return self.name
    
    def set_name(self,fullName):
        self.name=fullName
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
#person1=Person("Niloy","26","20-9-1996")
#print(person1.get_personDetails())

person1.set_name("Nahid Hassan Niloy")
print(person1.get_personDetails())

In [ ]:
#class object attribute : is same for all instance
#user defined attibute: (self,name,age,dob)
#print person details
class Person:
    university= 'AIUB'
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
person1=Person("Niloy","26","20-9-1996")
print(person1.get_personDetails())
person1.university

In [ ]:
#bark the dog setting an action to a new method
class Dog:
    def __init__(self,breed):
        self.breed = breed
    def bark(self):
        print("WOOFWWOOOOFWOOOOFWOOOOOF")
    
dog1=Dog(breed='lad')
print(dog1.breed)
dog1.bark()

In [ ]:
#bark the dog setting an action to a new method and reason of barking
class Dog:
    def __init__(self,breed):
        self.breed = breed
    def bark(self,reason):
        print("WOOFWWOOOOFWOOOOFWOOOOOF, I want {}".format(reason))
    
dog1=Dog(breed='lad')
print(dog1.breed)
dog1.bark("food")

In [ ]:
#print area of a circle
pi=3.14
def area_of_circle(pi,r):
    return pi*r**2

In [ ]:
area_of_circle(pi,14)

In [ ]:
#print area of a circle
class Circle():
    pi=3.14

    def __init__(self,radius=14):
        self.radius=radius
    def get_area(self):
        return self.radius*self.pi*2

In [ ]:
circle1=Circle()
circle1.get_area()

In [ ]:
#print area of a circle
class Circle():
    pi=3.14

    def __init__(self,radius=14):
        self.radius=radius
        self.area=radius*radius*Circle.pi
        #self.area=radius*radius*self.pi
    def get_area(self):
        return self.radius*Circle.pi*2

In [ ]:
circle1=Circle()
circle1.get_area()

# Inheritence

In [ ]:
#single level inheritence

class University():
    def library(self):
        print("Have access to libraray")
class Student(University):
    def exam(self):
        print("Have access to exam hall")

#university1=University()
#university1.library()
student1=Student()
student1.exam()
student1.library()

In [ ]:
#multilevel level inheritence

class University():
    def library(self):
        print("Have access to libraray")
class Student(University):
    def exam(self):
        print("Have access to exam hall")
class Teacher(Student):
    def locker(self):
        print("Have access to locker room")
    

#university1=University()
#university1.library()
#student1=Student()
#student1.exam()
#student1.library()
teacher1=Teacher()
teacher1.exam()
teacher1.library()
teacher1.locker()

In [ ]:
#multiple inheritence
#multilevel level inheritence

class University():
    def library(self):
        print("Have access to libraray")
class Student():
    def exam(self):
        print("Have access to exam hall")
class Teacher(Student,University):
    def locker(self):
        print("Have access to locker room")
    

#university1=University()
#university1.library()
#student1=Student()
student1.exam()
#student1.library()
teacher1=Teacher()
teacher1.exam()
teacher1.library()
teacher1.locker()

# Polymorphism

In [ ]:
class Dog:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return (f'{self.name} says wooofwooof')
class Cat:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return (f'{self.name} says meowmeoow')

In [ ]:
dog1=Dog("niloy")
cat1=Cat("felu")

In [ ]:
dog1.speak()

In [ ]:
cat1.speak()

In [ ]:
for pet in [dog1,cat1]:
    print (pet.speak())

# sleep()

sleep() method is used to stop execution for a certain amount of time

In [ ]:
import time
for i in range(11):
    print(i)
    if(i==5):
        time.sleep(5)