# Get Started

In [1]:
print("Hello World")

Hello World

# Number Operation

In [2]:
1+2

3

In [3]:
2-3

-1

In [4]:
4*2

8

### ** pow()

In [5]:
base=4
component=3

power_value=pow(base,component)
print(power_value)

64

In [6]:
#2 to the power 3
2 ** 3

8

### mod %

In [7]:
16%3

1

In [8]:
2+10*(10-2)

82

In [9]:
8/3

2.6666666666666665

### no remainder //

In [10]:
8//3 # //provides round figure

2

### negative to postive (abs)

In [11]:
ntp = -15
num=abs (ntp)
print(num)

15

### Complex Numbers

In [12]:

z= 4j #complex numbers are represented as j in Python

type(z)

complex

### Scientific Numbers

In [13]:
x=45e3 #e means 10^

In [14]:
print(x)

45000.0

### Math library

In [15]:
import math
distance_to_home=344400
gravity=9.8

thurst_needed=math.sqrt(gravity*distance_to_home)
print(thurst_needed)

1837.149966660316

### round

In [16]:
print(round(thurst_needed))

1837

### ceil, floor

In [17]:
weight=58.4
print(math.ceil(weight)) #upper value
print(math.floor(weight)) #lower value

59
58

# Data Type

In [18]:
a=10.22
type(a)

float

In [19]:
a=int(10.22)
type(a)

int

In [20]:
print(a)

10

# Variables

Variable carries value


# Python Variable Naming Rules (Simple)

### Valid Examples:
* `my_variable`
* `user_id_2`
* `_temp_data`
* `Age`
* `__internal_value` (for special use by Python)

### Invalid Examples:
* `1st_name` (starts with a number)
* `total-price` (contains a hyphen)
* `user name` (contains a space)
* `for` (is a reserved keyword, like `if`, `class`, `True`)
* `item#` (contains a symbol)
* `my@email` (contains a symbol)

Remember, Python variable names are **case-sensitive** (`myVar` is different from `myvar`).

## Naming Conventions (for cleaner code):

1.  Regular Variables & Functions:** Use `snake_case` (all lowercase, words separated by underscores).
    Example: `first_name`, `calculate_total_amount`

2.  Constants: Use `ALL_CAPS_SNAKE_CASE` (uppercase, words separated by underscores).
    Example: `MAX_RETRIES`, `DEFAULT_TIMEOUT`

3.  Class Names: Use `PascalCase` (first letter of each word capitalized).
    Example:`UserProfile`, `DatabaseConnector`

4.  "Internal Use" (weak private): Start the name with a single underscore (`_`). This is a hint not to use it directly from outside.
    Example: `_private_helper`, `_cached_result`

5.  Special Python Methods ("dunder methods"): These start and end with double underscores (`__name__`). They have specific Python meanings, so avoid using this style for your regular variables.
    Example: `__init__`, `__str__`

In [21]:
#Calculate income excluding taxes
my_taxrate=0.04
my_salary=18000
my_income=my_salary-(my_salary * my_taxrate)
print(my_income)

17280.0

# Working with strings

In [22]:
text="hello from world's best coder"

In [23]:
'hello universe'

'hello universe'

In [24]:
print("i do not want any string sign here just want the actual text")

i do not want any string sign here just want the actual text

In [25]:
print("i do not want any string sign here, \njust want the actual text")

i do not want any string sign here,
just want the actual text

In [26]:
print("i do not want any string sign here, \tjust want the actual text")

i do not want any string sign here, 	just want the actual text

### len()

In [27]:
len("I eat rice ")

11

In [28]:
len("Ieatrice")

8

In [29]:
text="hello from world's best coder"
print(text.count('o'))

4

### Indexing & Slicing

In [30]:
my_string=("The color of the sky is blue")
my_string[-4]

'b'

In [31]:
my_string=("The color of the sky is blue")
my_string[7]

'o'

In [32]:
# alp[starts:upto:stepsize]
alp=("abcdefghij")
alp[::]

'abcdefghij'

In [33]:
alp[3:]

'defghij'

In [34]:
alp[:3]

'abc'

In [35]:
alp[0:9:2]

'acegi'

In [36]:
#reverse string
alp[::-1]

'jihgfedcba'

In [37]:
#concate full name
first_name="Nahid Hassan "
last_name="Niloy"
full_name=first_name+last_name
print(full_name)

Nahid Hassan Niloy

In [38]:
first_name+'Robin'

'Nahid Hassan Robin'

In [39]:
letter='n'
letter*10

'nnnnnnnnnn'

In [40]:
#print nn14 using concatination
letter='n'
output=letter*2+'1'+'4'
print(output)

nn14

### Upper()

In [41]:
text="HELlo WorLD"
text.upper()

'HELLO WORLD'

### Lower()

In [42]:
text.lower()

'hello world'

### capitalized()

In [43]:
text.capitalize()

'Hello world'

### split()

In [44]:
my_string=("the color of the sky is blue")
my_string.split()

['the', 'color', 'of', 'the', 'sky', 'is', 'blue']

In [45]:
my_string.split('o')

['the c', 'l', 'r ', 'f the sky is blue']

In [46]:
my_string.split('the')

['', ' color of ', ' sky is blue']

### replace()

In [47]:
message="Glory#Glory## Spurs"

In [48]:
print (message)

Glory#Glory## Spurs

In [49]:
clean=message.replace('#','!')

In [50]:
print(clean)

Glory!Glory!! Spurs

In [51]:
clean2=message.replace('#','!').replace('Spurs','Tottenham') #multi line replace

In [52]:
print(clean2)

Glory!Glory!! Tottenham

# Print Format

### fstring' '

In [53]:
#fstring(shortcut method)
name="niloy"
print(f'my name is {name}')

my name is niloy

In [54]:
#introduce yourself using f string
first_name="Nahid Hassan "
last_name="Niloy"
full_name=first_name+last_name
uni="AIUB"
avg_cgpa=3.456789
print(f'I am {full_name},I have studied from {uni},My average CGPA is{avg_cgpa: .2f}')

I am Nahid Hassan Niloy,I have studied from AIUB,My average CGPA is 3.46

In [55]:
#apple's price is $20
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
#print(The price of fruits[3] + price[1])
#product=fruits[3]
#cost=price[1]
#print(f'The price of {product} is {cost}')
print(f'The price of {fruits[3]} is {price[1]}')

The price of apple is 20

### format()

In [56]:
#precised value of pi
pi=3.1415926535
print ("The value of pi: {p:.4f}".format(p=pi))

The value of pi: 3.1416

In [57]:
#formatting the sentence
text1=('{3} {0} {2} {1}'.format('quick','fox','brown','the'))
#print(text1)
text2=(' {j} {o} the {l} {d}'.format(o='over',j='jumps',l='lazy',d='dog'))
#print(text2)
text= text1 +  text2
print(text)

the quick brown fox jumps over the lazy dog

In [58]:
planet="Earth"
temp=22.785678
weather="Humid"

report="I live in {}.We have a temparature tody of {} degree celcius.Weather is {}".format(planet,temp,weather)

In [59]:
print(report)

I live in Earth.We have a temparature tody of 22.785678 degree celcius.Weather is Humid

### float formatting {: .2f}

In [60]:
report2="I live in {}.We have a temparature tody of {:.2f} degree celcius.Weather is {}".format(planet,temp,weather)

In [61]:
print(report2)

I live in Earth.We have a temparature tody of 22.79 degree celcius.Weather is Humid

# List

List is flexible, mutable
pop, append, remove, slice, reorder

### min,max

In [62]:
lst=['10','20','30','40','50','60']
print(min(lst))

10

In [63]:
print(max(lst))

60

In [64]:
values=[1,4,"Niloy",29]
print(values[2])

Niloy

### replace

In [65]:
price=['10','20','30','40','50','60']
price[3]=14

In [66]:
price

['10', '20', '30', 14, '50', '60']

In [67]:
price[-2]

'50'

### insert (index,value)

In [68]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.insert(2,"guava")

In [69]:
fruits

['banana', 'grape', 'guava', 'orange', 'apple', 'pineapple', 'watermelon']

### delete\ del list [index]

In [70]:
fruits=['banana', 'grape', 'guava', 'orange', 'apple', 'pineapple', 'watermelon']
del fruits [2]

In [71]:
fruits

['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon']

In [72]:
#delete element from index
fruits=['banana','grape','orange','apple','pineapple','watermelon']
del fruits[2]
print(fruits)

['banana', 'grape', 'apple', 'pineapple', 'watermelon']

### merge lists

In [73]:
fruits=['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon']
price=['10','20','30','40','50','60']
fruits+price

['banana',
 'grape',
 'orange',
 'apple',
 'pineapple',
 'watermelon',
 '10',
 '20',
 '30',
 '40',
 '50',
 '60']

### len

In [74]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
len(fruits)

6

### remove()

In [75]:
fruits=['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon', 'peach']

fruits.remove('peach')

In [76]:
fruits

['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon']

### sort()

In [77]:
fruits=['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon', 'peach','100']
fruits.sort()

In [78]:
fruits

['100',
 'apple',
 'banana',
 'grape',
 'orange',
 'peach',
 'pineapple',
 'watermelon']

In [79]:
# descending

In [80]:
fruits=['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon', 'peach']
fruits.sort(reverse=True)

In [81]:
fruits

['watermelon', 'pineapple', 'peach', 'orange', 'grape', 'banana', 'apple']

### slicing

In [82]:
fruits[2:5]

['peach', 'orange', 'grape']

### insert element

In [83]:
#insert element
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits[4]='date'
fruits

['banana', 'grape', 'orange', 'apple', 'date', 'watermelon']

In [84]:
#insert element to a particular index
info=["Nahid Hassan",26,2.98]
info.insert(1,"Niloy")
print(info)

['Nahid Hassan', 'Niloy', 26, 2.98]

### append()

In [85]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.append('peach')

In [86]:
fruits

['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon', 'peach']

In [87]:
#append function
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.append('date')
print(fruits)

['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon', 'date']

### pop

In [88]:
#pop element from last
#pop function
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.pop()
print(fruits)

['banana', 'grape', 'orange', 'apple', 'pineapple']

In [89]:
#pop element from index
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.pop(2)
print(fruits)

['banana', 'grape', 'apple', 'pineapple', 'watermelon']

### reverese

In [90]:
#reverse elements
fruits=['banana','grape','orange','apple','pineapple','watermelon']
fruits.reverse()
fruits

['watermelon', 'pineapple', 'apple', 'orange', 'grape', 'banana']

# Dictonary

In [91]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['apple']

20

### add new dictionary

In [92]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['date']='80'
fruits

{'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60,
 'date': '80'}

### delete\ pop()

In [93]:
fruits.pop('date')

'80'

In [94]:
fruits

{'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60}

### loop in dictionary // .items()

In [95]:
fruits={'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60}

In [96]:
for key,value in fruits.items():
    print(key)
    print(value)

banana
10
grape
40
orange
30
apple
20
pineapple
50
watermelon
60

Inside a dictionary there can be list ,integer, and even a dictionary

In [97]:
my_dic={'my_int':123,'my_list':[1,2,3,4],'new_dic':{'key':14}}
my_dic['new_dic']

{'key': 14}

In [98]:
my_dic={"num":1,2:"num",3:"Hello World"}
print(my_dic[2])
print(my_dic["num"])
print(my_dic[3])

num
1
Hello World

### upper()

In [99]:

fruits={'fruitsName': ['banana','grape','orange','apple','pineapple','watermelon']}
fruits['fruitsName'][4].upper()

'PINEAPPLE'

### Change value

In [100]:
#change value of a key in a dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits['grpae']='45'
fruits

{'banana': 10,
 'grape': 40,
 'orange': 30,
 'apple': 20,
 'pineapple': 50,
 'watermelon': 60,
 'grpae': '45'}

### keys,values and items

In [101]:

fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.keys()

dict_keys(['banana', 'grape', 'orange', 'apple', 'pineapple', 'watermelon'])

In [102]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.values()

dict_values([10, 40, 30, 20, 50, 60])

In [103]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
fruits.items()

dict_items([('banana', 10), ('grape', 40), ('orange', 30), ('apple', 20), ('pineapple', 50), ('watermelon', 60)])

### create dictionary at runtime

In [104]:
my_dic={}
my_dic["first name"]= "Nahid Hassan"
my_dic["last name"]= "Niloy"
print(my_dic)
print(my_dic["last name"])

{'first name': 'Nahid Hassan', 'last name': 'Niloy'}
Niloy

### nested dictionary

In [105]:
student_data = {
    'student1': {
        'name': 'Alice',
        'age': 20,
        'courses': {
            'math': 95,
            'science': 88
        }
    },
    'student2': {
        'name': 'Bob',
        'age': 22,
        'courses': {
            'math': 78,
            'history': 92
        }
    }
}

In [106]:
print(student_data["student1"]["courses"]["math"])

95

# Tuples

Tuples are very simmilar to list.Once an elemenet is assigned inside a touple, it can not be reassigned.For example,fruits[5]='banana' will cause syntax error.Touple is useulf when we don't want our program to change any values. Very useful for dictionary and maps

In [150]:
fruits=('banana','grape','orange','apple','pineapple','watermelon')
type(fruits)

tuple

In [151]:
len(fruits)

6

### access value

In [108]:
fruits=('banana','grape','orange','apple','pineapple','watermelon')
fruits[-3]

'apple'

### count

In [109]:
#count
fruits=('banana','grape','orange','apple','apple','apple','pineapple','watermelon')
fruits.count('apple')

3

### update value // list()


to change a value in tuple we have to cinvert this into a list first and then after we have to convert this back to tuple. we can do other list operation, doing the same method

In [178]:
fruits_tuple=('banana','grape','orange','apple','apple','pineapple','watermelon')
fruits_list=list(fruits_tuple)

In [179]:
print(fruits_tuple)

('banana', 'grape', 'orange', 'apple', 'apple', 'pineapple', 'watermelon')

In [180]:
print(fruits_list)

['banana', 'grape', 'orange', 'apple', 'apple', 'pineapple', 'watermelon']

In [181]:
fruits_list[1]='Kiwi'

In [182]:
fruits_list

['banana', 'Kiwi', 'orange', 'apple', 'apple', 'pineapple', 'watermelon']

In [183]:
fruits_tuple=tuple(fruits_list)

In [184]:
print(fruits_tuple)

('banana', 'Kiwi', 'orange', 'apple', 'apple', 'pineapple', 'watermelon')

In [185]:
type(fruits_tuple)

tuple

# if else

In [111]:
time="pm"

if time == "am":
    print("good morning")
elif time =="pm":
    print("good noon")
else:                      #else indicates this is the last condition
    print("good afternoon")#careful about identation
print("Greetings Done")

good noon
Greetings Done

### nested if else

In [112]:
num = 12
if num>=10:
    print("Above 10")
    if num <= 20:
        print("Below 20")
    else:
        print("Above 20")
else:
    print("invalid")

Above 10
Below 20

# Boolean

In python boolean values(True and False) first alphabet should be uppercase

In [113]:
54>58

False

In [114]:
type(False)

bool

# Sets

Sets are unordered collections of unique elements.Meaning there can be only one representative of the same object

fruits=set()
fruits.add('date')
fruits

In [115]:
fruits=set()
fruits.add('date')
fruits.add('apple')
fruits.add('orange')
fruits.add('apple')
fruits
#no duplicate values only unique elements

{'apple', 'date', 'orange'}

In [120]:
#can be used second bracket as well
fruits={'banana','grape','orange','apple','apple','apple','pineapple','watermelon', True, 2}
set(fruits)
#no duplicate values only unique elements

{2, True, 'apple', 'banana', 'grape', 'orange', 'pineapple', 'watermelon'}

### add

In [121]:
fruits.add('date')
fruits.add('kiwi')
fruits.add('peach')

In [122]:
print(fruits)

{'orange', 2, True, 'kiwi', 'pineapple', 'peach', 'apple', 'banana', 'date', 'watermelon', 'grape'}

### merge // update(set_name)

In [123]:
price= (10,20,30,40,50,60)

In [124]:
fruits.update(price)

In [125]:
print(fruits)

{'orange', 2, True, 'kiwi', 'pineapple', 40, 10, 'peach', 60, 'apple', 50, 'banana', 20, 30, 'date', 'watermelon', 'grape'}

In [126]:
print(price)

(10, 20, 30, 40, 50, 60)

### remove/discard

In [128]:
fruits.remove('kiwi')

In [129]:
print(fruits)

{'orange', 2, True, 'pineapple', 40, 10, 'peach', 60, 'apple', 50, 'banana', 20, 30, 'date', 'watermelon', 'grape'}

In [132]:
fruits.discard(2)

In [136]:
set(fruits)

{10,
 20,
 30,
 40,
 50,
 60,
 True,
 'apple',
 'banana',
 'date',
 'grape',
 'orange',
 'peach',
 'pineapple'}

In [137]:
print (fruits)

{'orange', True, 'pineapple', 40, 10, 'peach', 60, 'apple', 50, 'banana', 20, 30, 'date', 'grape'}

### union

Technically, union and update do the same work

In [139]:
set1= {'a','b','c',1,2,3}
set2= {'x','y','z',1,2}
set3= set1.union(set2)

In [140]:
print(set3)

{'x', 1, 2, 3, 'c', 'y', 'b', 'z', 'a'}

### intersection

In [142]:
set1= {'a', 'b', 'c',1,2,3}
set2= {'x','y','z',1,2}
set4= set1.intersection(set2)

In [143]:
print(set4)

{1, 2}

### difference

In [145]:
set1= {'a', 'b', 'c',1,2,3}
set2= {'x','y','z',1,2}
set5=set1.difference(set2)

In [146]:
print(set5)

{'b', 'c', 3, 'a'}

In [147]:
set1= {'a', 'b', 'c',1,2,3}
set2= {'x','y','z',1,2}
set6=set2.difference(set1)

In [148]:
print(set6)

{'x', 'y', 'z'}

In [ ]:
Comparison Operators

In [117]:
2 == 1

False

In [118]:
'Hello' == 'Hello'

True

In [119]:
'Hello'== 'hello'
#because of uppercase and lowercase problem

False

In [120]:
4!=5

True

In [121]:
not 5 == 5

False

In [122]:
4<=9

True

In [123]:
'h'=='h' and 2==2

True

In [124]:
'h'=='h' or 2==2

True

In [125]:
'h'=='h' and 2==4

False

In [126]:
'h'=='h' or 2==4

True

If-else-elif

In [127]:
alph='C'
if alph=='A':
 print('vowel')
elif alph == 'B':
 print('consonent')
else:
 print('invalid')

invalid

# For Loop

### String

In [3]:
name = 'Niloy'
for i in name:
    print(i)
    if i == 'i':
        print("special")

N
i
special
l
o
y

### List

In [128]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
for i in fruits:
    print(i)

banana
grape
orange
apple
pineapple
watermelon

In [6]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
for fruit in fruits:
    print(fruit)
    for i in fruit:
        print(i)

banana
b
a
n
a
n
a
grape
g
r
a
p
e
orange
o
r
a
n
g
e
apple
a
p
p
l
e
pineapple
p
i
n
e
a
p
p
l
e
watermelon
w
a
t
e
r
m
e
l
o
n

In [4]:

fruits=[['banana',10],['grape',40],['orange',30],['apple',20]]
for i,j in fruits:
    print(i,"will cost",j,"$")

banana will cost 10 $
grape will cost 40 $
orange will cost 30 $
apple will cost 20 $

### Range

In [11]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,10,2):
        print(i)

1
3
5
7
9

### nested list using for loop/

In [130]:
party_bag=[
    ["Chips", "Cookies"],
    ["Cake", "Juice"],
    ["Soda", "Pizza"]
]
for i in party_bag:
    print(i)

['Chips', 'Cookies']
['Cake', 'Juice']
['Soda', 'Pizza']

In [131]:
snack_bag=[
    ["Potato", "Cookies"],
    ["Cake", "Juice"],
    ["Soda", "Pizza"]
]
for i in snack_bag:
    for item in i:
        print(item)

Potato
Cookies
Cake
Juice
Soda
Pizza

### index print/ enumerate( )

In [132]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
for index, value in enumerate(fruits):
    print(index,value)

0 banana
1 grape
2 orange
3 apple
4 pineapple
5 watermelon

### break

In [133]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
for index, value in enumerate(fruits):
    print(index,value)
    if value == 'apple':
        break

0 banana
1 grape
2 orange
3 apple

### continue

In [134]:
fruits=['banana','grape','orange','apple','peach','apple','watermelon']
for index, value in enumerate(fruits):
    if value == 'apple':
        continue
    print(index,value)

0 banana
1 grape
2 orange
4 peach
6 watermelon

In [135]:
#dictionary
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for i in fruits.items():
    print(i)

('banana', 10)
('grape', 40)
('orange', 30)
('apple', 20)
('pineapple', 50)
('watermelon', 60)

In [136]:
#print items which are numbers and gretaer than 20
fruits=['banana',10,'grape',40,'orange',30,'apple',20,'pineapple',50,'watermelon',60]
for i in fruits:

    if str(i).isnumeric() and i>20:
     print(i)

#str(i) is used for typecasting and isnumeric() is a function

40
30
50
60

In [137]:
#print apple 10 items
fruits=['apple\n']
for i in fruits:
    print(i*10)

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [138]:
#print odd numbers between (1-10) using for loop
for i in range(1,11):

    if i%2==1:
        print("Odd Numbers:",i)
    elif i%2==0:
        print("Even Numbers:",i)

Odd Numbers: 1
Even Numbers: 2
Odd Numbers: 3
Even Numbers: 4
Odd Numbers: 5
Even Numbers: 6
Odd Numbers: 7
Even Numbers: 8
Odd Numbers: 9
Even Numbers: 10

In [139]:
#print the sum of numbers(1-10)
sum=0
for i in range(1,10):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45

### range

In [140]:
#print the total sum of numbers(1-10)
sum=0
for i in range(1,10):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45

In [141]:
#for loop in string
for i in 'Hello World':
    print(i)

H
e
l
l
o

W
o
r
l
d

In [142]:
for _ in 'Hello World':
    print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [143]:
#tuples
fruits=('banana','grape','orange','apple','pineapple','watermelon')
for i in fruits:
    print(i)

banana
grape
orange
apple
pineapple
watermelon

In [144]:
#list inside a tuples for loops
fruits=[('banana',10),('grape',20)]
for i,j in fruits:
    print(i)

banana
grape

In [145]:
#list inside a tuples for loops
fruits=[('banana',10),('grape',20)]
for i,j in fruits:
    print(j)

10
20

In [146]:
#dictionary in for loops
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for key,value in fruits.items():
    print(value)

10
40
30
20
50
60

In [147]:
#dictionary in for loops
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
for key,value in fruits.items():
    print(key)

banana
grape
orange
apple
pineapple
watermelon

In [148]:
#sum of First 10 Natural Numbers
sum=0
for i in range(1,10):
    sum=sum+i
print(sum)

45

In [149]:
#square of First 5 Natural Numbers
#sum=0
for i in range(1,5):
    #sum=sum+i
    print(i*i)

1
4
9
16

In [ ]:
#take numbers as list

# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
    ele = int(input())

    lst.append(ele) # adding the element

print(lst)

Enter number of elements :  1

In [ ]:
#range and for loop
for i in range(1,10,2):
    print(i)
print("*********")
    
for j in range (10): 
    print(j)
#loop will consider 10 as the maximum limit

# While Loop

In [ ]:
i=0
while i<11:
    print(i)
    i=i+1

In [ ]:
#even and odd numbers using while loop
i=1

while(i<=10):
    if(i%2==0):
        print("Even",i)

    else:
        print("Odd",i)

    i=i+1

In [ ]:
#understanding break and continue with the help of while loop
i = 10
while i > 1:
    if i == 9:
        i=i-1
        continue
    if i == 4:
        break
    print(i)
    i=i-1

#continue will skip the number 9 and get out of the loop
#break will come out of the loop and also will abort further execution

# Pass
Do  nothing at all

In [ ]:
x=[1,2,3]
for item in x:
    #we want our program to stop here and do not execute inside this for loop
    pass
print("end of script")

# Continue
Goes to the top of closest enclosing loop

In [ ]:
for i in 'banana':
    if i =='a':
        continue
    print(i)

# Break
Breaks out of the current closest enclosing loop

In [ ]:
for i in 'banana':
    if i =='n':
        break
    print(i)

In [ ]:
for i in range(1,11):
    if i==5:
        break
    print(i)

In [ ]:
i=0

while i<11:
    if i==5:
        break
    print(i)
    i+=1

# Range

In [ ]:
#print (0-50) with 5 distacnce
for i in range(0,51,5):
    print(i)

# Generator
generator is a special type of function that will generate information instead of saving it all to memory

In [ ]:
list(range(0,11,2))

# enumerate()

Often, when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmers task by providing a built-in function enumerate() for this task. 
Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.
enumerate(iterable, start=0)

Parameters:
Iterable: any object that supports iteration
Start: the index value from which the counter is to be started, by default it is 0

In [ ]:
fruits='pineapple'
for i in enumerate(fruits):
    print(i)

In [ ]:
fruits='pineapple'
#tuple unpacking(item,value)
for i,j in enumerate(fruits):
    print(i)
    print(j)

    print("\t")

# zip()
The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.Will go as far as the shortest list if the lists are not conatining same number of elements

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']

for i in zip(fruits,price):
    print(i)

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
name='niloy'

for i in zip(fruits,price,name):
    print(i)

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
price=['10','20','30','40','50','60']
name='niloy'

for i,j,k in zip(fruits,price,name):
    print(k)

In [ ]:
list(zip(fruits,name))

# in
usefel to check is item is present in a list,tuple,dictionary

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
'grace' in fruits

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
'grape' in fruits

In [ ]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
'grape' in fruits

In [ ]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
'30' in fruits

In [ ]:
fruits={'banana':10,'grape':40,'orange':30,'apple':20,'pineapple':50,'watermelon':60}
30 in fruits.values()

# min,max

In [ ]:
price=['10','20','30','40','50','60']
min(price)

In [ ]:
price=['10','20','30','40','50','60']
max(price)

# shuffle()
randomly shffle items from a list

In [ ]:
from random import shuffle
price=['10','20','30','40','50','60']
shuffle(price)
print(price)

# randint()
gives  us a random int

In [ ]:
from random import randint
randint(0,100)

# Take user input
Input accepts anything has passed into it as string

In [ ]:
input("Enter a number ")

In [ ]:
result=input("What is your name ")
print("Name :",result)

In [ ]:
result=input("What is your cgpa ")
print("CGPA :",result)

# help()
documentation of object

In [ ]:
price=['10','20','30','40','50','60']
help(price.insert)

# Function

snakecasing all lowercase with underscores between words
example : name_of_function()
()this is called paranthesis later we will pass arguments/parameters using this

In [ ]:
def fruits():
    print('apple')
    print('orange')
    print('banana')

In [ ]:
fruits()

In [ ]:
def khan(names):
    print(names+ " khan")
khan("Shahrukh")
khan("Slaman")
khan("Riyaz")

In [ ]:
def full_name(fname,lname):
    print(fname+lname)
full_name("Nahid Hassan ","Niloy")

In [ ]:
def sum(x,y):
    print(x+y)
sum(10,15)

In [ ]:
def fruits(name):
    print(f'My favourite fruit is {name}')

In [ ]:
fruits('banana')

In [ ]:
fruits=['banana','grape','orange','apple','pineapple','watermelon']
def fruit_list(fruits):
    for x in fruits:
        print(x)
fruit_list(fruits)

In [ ]:
def sum(num1,num2):
    return num1+num2
#return instead of just printing out function allows us to say them as variable

In [ ]:
sum(10,20)

In [ ]:
def even_check(number):
    result= number%2==0
    return result

In [ ]:
even_check(20)

In [ ]:
even_check(21)

In [ ]:
def even_check(number):
    return number%2==0

In [ ]:
even_check(11)

In [ ]:
#return even or odd
num=int(input("Enter a number: "))

def check_even_odd(num):
        if num%2==0:
            print(f'{num} is an even number')
        else:
            print(f'{num} is an odd number')
            
check_even_odd(num)

In [ ]:
#return vowel or consonent
alp=(input("Enter an alphabet in small letter: "))

def check_vowel(alp):
        if alp=='a'or alp=='e'or alp=='i'or alp=='o'or alp=='u':
            print(f'Alphabet {alp} is a vowel')
        else:
            print(f'Alphabet {alp} is a consonant')
            
check_vowel(alp)

In [ ]:
#print out the most expensive fruit using function and tuple unpacking
fruits=[('banana',10),('grape',20),('orange',30),('apple',40),('pineapple',50)]
fruits

In [ ]:
def most_expensive_fruits(fruits):
    fruit_price=0
    fruit_name=''
    for i,j in fruits:
        if j>fruit_price:
            fruit_price=j
            fruit_name=i
        else:
            pass
    return(fruit_name,fruit_price)

In [ ]:
most_expensive_fruits(fruits)

In [ ]:
#TOSS
from random import randint

result=randint(1,2)
result
team1=input("Enter the name of home team:  ")
team2=input("Enter the name of away team:  ")
pick=input("Choose between head and tail: ")
if result==1 and pick=='head'or pick=='tail':
    print(f'{team1} won the toss')
else:
    print(f'{team2} won the toss')

In [49]:
#Guess who got the card
#shuffle cards 
cards=['heart','dice','spades','clubs']
from random import shuffle
#shuffle does not work without a function
def shuffle_cards(cards):
    shuffle(cards)
    return cards

In [ ]:
#guess which player has the card
cards=['heart','dice','spades','clubs']
pcards=input("pick a card: ")
if pcards=="heart"or pcards=="spades" or pcards=="clubs" or pcards=="dice":
    print(f'picked {pcards} successfully')
else:
    print("invalid")

pick a card:  heart

In [ ]:
#guess player number
num=['1','2','3','4']
num=input("Chose Player Number: ")
if num=='1'or num=='2'or num=='3'or num=='4':
    print(f'Lets check if player {num} has the {pcards} or not')
else:
    print("invalid")

In [ ]:
shuffle_result=shuffle_cards(cards)
shuffle_result

In [ ]:

print("player 1 got",shuffle_result[0])

In [ ]:
print("player 2 got",shuffle_result[1])

In [ ]:
print("player 3 got",shuffle_result[2])

In [ ]:
print("player 4 got",shuffle_result[3])

In [ ]:
show_result=shuffle_result.index('spades')
show_result=show_result+1
show_result
print(f' Player {show_result} got the card')

In [ ]:
guessed_player=int(num)
guessed_player
print(f'Guessed player number was {guessed_player}')

In [ ]:
if show_result==guessed_player:
    print(f'Correct Guess, Player {num} has {pcards}')
    
else:
    print("Wrong Guess")

In [ ]:
def Greet(name):
    print("Good Morning, "+name)
Greet("Nahid")
Greet("Hassan")
Greet("Niloy")

### pass

In [151]:
def blank_func():
    pass

### return

In [155]:
def sum(val):
    return(5+val) #returned value will be shown on print
    
print(sum(5))

10

# Function Argument

In [ ]:
#5% of sum for two numbers
def add_sum(a,b):
    return sum((a,b))*0.05

In [ ]:
add_sum(10,20)

In [ ]:
#5% of sum for more than two numbers
#it is limited to five numbers
def add_sum(a,b,c=0):
    return sum((a,b,c))*0.05

In [ ]:
add_sum(10,20,30)

In [ ]:
# *args allows us to work with infinte numbers
#it works as same as the tuples
def add_sum(*args):
    print(args)
    return sum(args)*0.05

In [ ]:
add_sum(10,20,30,40,50,60,70)

In [ ]:
# **kwargs is almost as same as *args but instead of tuple it returns a dictionary
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My favourite fruit and vegetable is {} '.format(kwargs['fruit']))
    else:
        pass

In [ ]:
myfunc(fruit='apple')

In [ ]:
#using args and kwrags at the same time
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('Jersey number {} of Manchester United is owned by {} '.format(args[0],kwargs['name']))

In [ ]:
myfunc(7,name='Cristiano Ronaldo')

# map()
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.
Syntax :

map(fun, iter)
Parameters :

fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.

NOTE : You can pass one or more iterable to the map() function.

Returns :

Returns a list of the results after applying the given function  
to each item of a given iterable (list, tuple etc.) 
 
NOTE : The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

In [ ]:
#Squares of number using map

def square(num):
    return num**2

In [ ]:
numlist=[12,14,5,32,4,16]

In [ ]:
for i in map(square,numlist):
    print(i)

In [ ]:
#print vowelnames using map()

def vowelname(name):
    if name[0]=='A'or name[0]=='E' or name[0]=='I' or name[0]=='O'or name[0]=='U':
        return name
    else:
        return name[0]

In [ ]:
namelist=['Arif','Jobayer','Raju','Orthy','Iqbal']

In [ ]:
list(map(vowelname,namelist))

# filter()

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

syntax:
filter(function, sequence)

Parameters:
function: function that tests if each element of a 
sequence true or not.

sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.

Returns:
returns an iterator that is already filtered

In [ ]:
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable not in letters):
        return True
    else:
        return False
  
  
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered =list(filter(fun, sequence))
filtered

# lamda()
Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned. Lambda functions can be used wherever function objects are required.

In [ ]:
item=[("Apple",10),("Banana",22),("Orange",15),("Pineapple",7)]

list(filter(lambda item: item[1] <= 20,item))

# class

for classes we use CamelCasing

_init_ method is called whenever we are creating instance of a class


self connencts _init_ with the instance of a class

### default Constructor//_ _ init _ _

In [197]:
class Dog:
    def __init__(self): #constructor
        self.breed = 'lad'
    def display(self):
        print(f'Dog Breed= {self.breed}')
       
dog1=Dog()
dog1.display()

Dog Breed= lad

In [200]:
class Cat:
    def __init__(self):
        print("I go meoow meoow")
        
cat1=Cat() #no need to call
           # object itself takes the charge on the default constructor

I go meoow meoow

### paramaterized Constructor//__init__

Creating a variable inside a class

In [193]:
class Dog:
    def _init_(self,breed):
        self.breed = breed

In [194]:
dog1=Dog()
dog2=Dog()
dog1.breed='lad'
dog2.breed='huskie'
print(dog1.breed)
print(dog2.breed)

lad
huskie

In [223]:
class Dog:
    def __init__(self, breed, age):
        self.breed = breed
        self.age=age
    def show(self):
        print(f'{self.breed} lives upto {self.age} years')
        
dog1=Dog('Lad',10)
dog1.show()
dog2=Dog('Husky',20)
dog2.show()

Lad lives upto 10 years
Husky lives upto 20 years

### using method

a function under a class is called method

In [ ]:
class Fruit:
    def __init__(self,name,season,price):
        self.name = name
        self.season=season
        self.price=price

In [ ]:
fruit1=Fruit()
fruit1.name='Banana'
fruit1.season='Winter'
fruit1.price='10'
print("Name: "+fruit1.name)
print("Season: "+fruit1.season)
print("Price: "+fruit1.price)

In [ ]:
#get
class Person:
    def __init__(self,person_name):
        self.name = person_name

    def get_name(self):
        return self.name
person1=Person("Niloy")
person2=Person("Antu")
print(person1.get_name())
print(person2.get_name())

In [ ]:
#print person details
class Person:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
person1=Person("Niloy","26","20-9-1996")
print(person1.get_personDetails())

In [ ]:
#print person details changing full name
class Person:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_name(self):
        return self.name
    
    def set_name(self,fullName):
        self.name=fullName
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
#person1=Person("Niloy","26","20-9-1996")
#print(person1.get_personDetails())

person1.set_name("Nahid Hassan Niloy")
print(person1.get_personDetails())

In [ ]:
#class object attribute : is same for all instance
#user defined attibute: (self,name,age,dob)
#print person details
class Person:
    university= 'AIUB'
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
        
    def get_personDetails(self):
        return f" Name:{self.name}\n Age:{self.age}\n Date of Birth:{self.dob}"
    
person1=Person("Niloy","26","20-9-1996")
print(person1.get_personDetails())
person1.university

In [ ]:
#bark the dog setting an action to a new method
class Dog:
    def __init__(self,breed):
        self.breed = breed
    def bark(self):
        print("WOOFWWOOOOFWOOOOFWOOOOOF")
    
dog1=Dog(breed='lad')
print(dog1.breed)
dog1.bark()

In [ ]:
#bark the dog setting an action to a new method and reason of barking
class Dog:
    def __init__(self,breed):
        self.breed = breed
    def bark(self,reason):
        print("WOOFWWOOOOFWOOOOFWOOOOOF, I want {}".format(reason))
    
dog1=Dog(breed='lad')
print(dog1.breed)
dog1.bark("food")

In [ ]:
#print area of a circle
pi=3.14
def area_of_circle(pi,r):
    return pi*r**2

In [ ]:
area_of_circle(pi,14)

In [ ]:
#print area of a circle
class Circle():
    pi=3.14

    def __init__(self,radius=14):
        self.radius=radius
    def get_area(self):
        return self.radius*self.pi*2

In [ ]:
circle1=Circle()
circle1.get_area()

In [ ]:
#print area of a circle
class Circle():
    pi=3.14

    def __init__(self,radius=14):
        self.radius=radius
        self.area=radius*radius*Circle.pi
        #self.area=radius*radius*self.pi
    def get_area(self):
        return self.radius*Circle.pi*2

In [ ]:
circle1=Circle()
circle1.get_area()

# Inheritence

### single level inheritence

University > Student

In [12]:
#single level inheritence

class University():
    def library(self):
        print("Have access to libraray")
class Student(University):
    def exam(self):
        print("Have access to exam hall")

#university1=University()
#university1.library()
student1=Student()
student1.exam()
student1.library()

Have access to exam hall
Have access to libraray

### multilevel inheritance

Grandpa>Father
Father>Son

In [23]:
class Grandpa():
    def shinduk(self):
        print("Have access to shinduk")
class Father(Grandpa):
    def locker(self):
        print("Have access to locker")
class Son(Father):
    pass
    

son=Son()
son.shinduk()
son.locker()

Have access to shinduk
Have access to locker

### Hierarchical inheritance

One parent class,Multiple Child Class

Mom > Son
Mom > Daughter

In [15]:
class Mom:
    def cooking(self):
        print("can cook biriyani")
class Son(Mom):
    pass
class Daughter(Mom):
    pass
son=Son()
daughter=Daughter()

son.cooking()
daughter.cooking()

can cook biriyani
can cook biriyani

University> Teacher
University> Student

In [18]:
class University(Teacher):
    def classroom(self):
        print("Have access to library")
        
class Teacher(University):  # Multiple inheritance
    pass

class Student(University):
    pass

# Testing
teacher = Teacher()
teacher.classroom()
student=Student()
student.classroom()

Have access to library
Have access to library

### Mutiple Inhertience

Multiple Parent Class,One Child Class

Mom, Dad> Son

In [25]:
class Mom:
    def cooking(self):
        print("can cook biriyani")
class Dad:
    def coding(self):
        print("can do code")
    
class Son(Mom,Dad):
    pass
    
son=Son()
son.cooking()
son.coding()

can cook biriyani
can do code

# polymormphism using method

### Method Overloading
Method overloading means creating multiple methods with the same name but with different parameters (number or type of arguments).

In [53]:
class Sum:
    def add(self,a,b,c):
        s=a+b+c
        return a+b+c
    #def add(self): #we can not have the same method name in a similar class 
        #pass
        
num=Sum()        
num.add(20,30,40)
#num.add(20,30) #does not work

90

In [56]:
class Sum:
    def add(self,a=None,b=None,c=None): #this is overlaoding (multiple parameter) #maintains serial
        s=0
        if a!=None and b!=None and c!=None:
            s=a+b+c
        elif a!=None and b!=None:
            s=a+b
        else:
            s=a
        return s
        
num=Sum()        
num.add(20) #now this works
num.add(20,30)
num.add(20,30,40)

90

In [57]:
class Person:
    # Define a method with two optional parameters (default is None)
    def show_info(self, name=None, age=None):
        # Case 1: No arguments passed
        if name is None and age is None:
            print("No information provided.")
        
        # Case 2: Only name is given
        elif name is not None and age is None:
            print(f"Name: {name}")
        
        # Case 3: Both name and age are given
        elif name is not None and age is not None:
            print(f"Name: {name}, Age: {age}")
        
        # Just in case someone passes only age (weird usage)
        elif name is None and age is not None:
            print(f"Age: {age} (no name provided)")

# Create an object of Person
p = Person()

# Now we call the same method in different ways:

p.show_info()
#  No arguments passed  prints: "No information provided."

p.show_info("Alice")
#  One argument (name)  prints: "Name: Alice"

p.show_info("Bob", 25)
#  Two arguments  prints: "Name: Bob, Age: 25"

p.show_info(age=30)
#  Only age provided  prints: "Age: 30 (no name provided)"

No information provided.
Name: Alice
Name: Bob, Age: 25
Age: 30 (no name provided)

### method overriding
Overriding means defining a method in a child class that has the same name and parameters as a method in its parent class, and replacing the parent's version with the childs version.

In [58]:
class Vehicle:
    def start(self):
        print("Starting vehicle...")

class Car(Vehicle):
    def start(self):
        print("Starting car engine...")

v = Vehicle()
v.start()     # Output: Starting vehicle...

c = Car()
c.start()     # Output: Starting car engine...

Starting vehicle...
Starting car engine...

| Feature              | Overloading                          | Overriding                      |
| -------------------- | ------------------------------------ | ------------------------------- |
| Happens in...        | Same class                           | Parent and child class          |
| Purpose              | Same method, different arguments     | Same method, different behavior |
| Language support     |  Not native in Python (we simulate) |  Fully supported in Python     |
| Requires inheritance |  No                                 |  Yes                           |

# polymormphism using function

is basicaly method overriding using a fucntion,A single interface (like a function or method) can work with different types of objects  as long as they share a common method or behavior.

In [68]:
class Role:
    def act(self):
        pass
#This is the base class or parent class. It defines a method act() but doesn't implement it (pass = do nothing).
#This method acts as a common interface for all subclasses. 

class Doctor(Role):
    def act(self):
        print("Gives Medicine")
class Cook(Role):
    def act(self):
        print("Cooks Dinner")
#Doctor and Cook is a subclass of Role. It overrides the act() method to do something specific: print "Gives Medicine".

def daily_roles(abc): 
    abc.act()

daily_roles(Doctor())

Gives Medicine

| What                        | Explanation                                                                        |
| --------------------------- | ---------------------------------------------------------------------------------- |
| `abc` is a variable        | It holds an object like `Doctor()` or `Cook()`                                     |
| How does it access methods? | Python checks if the object has `.act()` and calls it                              |
| Is it class-based?          | Yes, the object was created from a class                                           |
| Is inheritance required?    | No  as long as the object has the method, it works (polymorphism via duck typing) |

### encapsulation
Encapsulation = Hide the data, provide methods to interact with it.

| Prefix    | Access Level         | Example                 |
| --------- | -------------------- | ------------------------ |
| Public    | Accessible anywhere  | `self.name`              |
| Protected | Suggests limited use | `_name` (by convention)  |
| Private   | Really hidden        | `__name` (name mangling) |

In [63]:
class Family:
    def __init__(self):
        self.mutual_fund=500 #public
        self.__secret_fund=100 #private __ before variable means private
    def getfund(self): #a function to  access private constructor
        return self.__secret_fund \
        
dad=Family()
dad.getfund() #have to use the get method to have the output 
dad.mutual_fund

500

# sleep()

sleep() method is used to stop execution for a certain amount of time

In [ ]:
import time
for i in range(11):
    print(i)
    if(i==5):
        time.sleep(5)